.container {
    display: flex;
    flex-flow: wrap;
    max-width: 480px;
    margin: auto;
}

* {
    box-sizing: border-box;
  }

.container>div:nth-child(17n + 1) {
    width: 100%;
    border: 0;
    height: 0;
  }